.common__section {
    background: linear-gradient(rgba(0,0,0,0.55) , rgba(0,0,0,0.55))
    , url('../assets/images/showroom.jpeg') no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    display: flex  ;
    align-items: center;
    justify-content: center;
}

.common__section h1 {
    color: #fff;
    font-weight: 600;
}