.tab__wrapper {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.active__tab {
    font-weight: 600;
}

.tab__content p {
    line-height: 30px;
}

.form__group input, textarea{
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}


.forn__group input:focus, .form__group textarea:focus {
    outline: none;
}