* {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

:root {
  --hero-bg: #F4F5F7;
  --primary-color: #0a1d37;
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
}